.main{
    background-color: rgb(10, 12, 11);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-onas{
    background-color: rgb(10, 12, 11);
    height: 100vh;
}

header{
    height: 12vh;
    width: 100vw;
    background-color: #1E1E1E;
    top: 0;
    position: fixed;
    z-index: 3;

    #first{
        #nazev{
            text-decoration: none;
        }
        div{
            display: flex;
            flex-direction: row;
        }
        #l{
            color: #0066FE;
        }
        h1 {
            color: white;
        }
    }
}

.my-alert {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    color: white;
    background-color: rgba(30, 30, 30, 0.9);
    z-index: 3;
    border-radius: 2vw;
    margin-top: 20vh;
    margin-left: 10%;
    position: fixed;
    text-align: center;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  
    p {
      color: #0066FE;
      font-size: 1.2rem;
    }
  
    .progress-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1vh;
  
      .progress-count {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
      }
  
      .progress-bar {
        width: 80%;
        height: 1.5rem;
        background-color: #eee;
        border-radius: 1rem;
        overflow: hidden;
  
        .progress {
          width: 60%; 
          height: 100%;
          background-color: #0066FE;
        }
      }
    }
  
    button {
      background-color: #0066FE;
      color: white;
      border: none;
      border-radius: 1rem;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #004bbd;
      }
    }
  
    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: white;
      font-size: 2rem;
      cursor: pointer;
    }
}
  
.section1{
    color: white;

    #demo{
        text-shadow: 0 0 20px #0066FE;
    }


    .decor{
        float: right;
        margin-top: -30vh;
    }
}

.section2{
    width: 100vw;
    color: white;

}

.kontakt1{
        
    height: 55vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    color: white;
    gap: 50px;
    margin-bottom: -30vh;
    z-index: 1;
    
    p{
        font-size: 30px;
    

    }
    .nadpis{
        display: flex;
        h1{ 
            font-size: 70px;
    
        }
        #char
        {
            color: #0066FE;
        }
    }
    
}

.kontakt2{
    a:link
    {
        text-decoration: none;
    }
    a:hover
    {
        color: #0066FE;
    }
    #char
    {
        color: #0066FE;
    }
    #char1{
        color: #0066FE;
    }
    .text{
        color: white;
        a:link
        {
            text-decoration: none;
        }
        
        
    }
    .spolu:hover {
        .text{
            color: #0066FE;
        }
        #char{
            color: white;
        }
    
    }
    
}

.Onas{
    display: flex;
    flex-direction: column;
    color: white;

    .nadpis{
        display: flex;
        flex-direction: row;
    }
    

}



footer{
    bottom: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    background-color: #1E1E1E;
    color: white;

    
    .nadpis
    {
        h2
        {
            opacity: 0.5;
        }
    }
    .info
    {
        p
        {
            opacity: 0.3;
        }
    }
    .kontakt
    {
        display: flex;
        flex-direction: column;
        
    }
    .footerlogo
    {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logonapis
        {
            opacity: 0.5;
            display: flex;
            flex-direction: row;
            #l
            {
                color: #0066FE;
            }
        }
        .text
        {
            opacity: 0.3;
        }
    }
}

@media screen and (max-width: 1000px){
    @font-face {
        font-family: normal;
        src: url(RobotoMono-VariableFont_wght.ttf)
    }

    

    #blue{
        color: #0066FE;
    }

    .main{
        gap: 10vh;
        font-family: normal;
        display: flex;
        align-items: center;
    }

    .main-onas{
        display: flex;
        max-width: 100vw;
        min-height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10vh;
        font-family: normal;
    }

    header{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 33%);
        justify-content: space-between;
        background-color: #1E1E1E;
        top: 0;
    
        #first{

            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-column: 1/3;

            #image{
                grid-column: 1/2;
                align-self: center;
                justify-self: center;

                img{
                    width: 60px;
                }
            }

            a{
                grid-column: 2/3;
                align-self: center;
                justify-self: center;

            }

            div{  
                display: flex;
                flex-direction: row;
            }
            #l{
                color: #0066FE;
            }
            h1 {
                color: white;
                font-size: 24px;
                margin-top: 7.5px;
        
            }
        }

        #second-mobile{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            img{
                height: 8vh;
                width: 8vh;
                margin-top: 7.5px;
            }



        }
    }


    #second{
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;

        .active{
            color: #0066FE;
        }
    }
      
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    //O nás
    
    .kontaktdecor{
        display: none;
    }

    .onasdecor{
        display: none;
    }

    .onasdecor2{
        display: none;
    }

    .Onas{
        height: auto;
        width: 340px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #1E1E1E;
        border-radius: 20px;
        gap: 1vh;
        margin-top: 12vh;

        .nadpis{
            margin-top: 5vh;

            #char{
                display: none;
            }
        }

        #blue{
            color: #0066FE;
        }

        .text-onas{

            width: 90%;


        }



    }

    //Kontakt

    .kontakt1{
        width: 340px;
        background-color: #1E1E1E;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-top: 12vh;
        margin-bottom: auto;
        gap: 1vh;

 
        .nadpis{
            #char{
                display: none;
            }
            h1{ 
                font-size: 30px;
            }
        }
        .kontakt2{
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{
                height: 30px;
            }


            .spolu{
                display: flex;
                flex-direction: row;
                height: 30px;
            }
            p{
            font-size: 20px;
        }
        }
    }

    .kontaktdecor2{
        display: none;
    }

    //Domů

    .section2{

        .texty{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3vh;
            text-align: center;
            #char{
                display: none;
            }

            #mobile-text{
                display: flex;
                padding-top: 30px;
                padding-bottom: 30px;
                flex-direction: column;
                align-items: center;
                width: 340px;
                height: 28vh;
                background-color: #1E1E1E;
                border-radius: 20px;

                #blue{
                    color: #0066FE;
                }

                #mobile-nadpis{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                }

                #mobile-popis{
                    max-width: 90%;
                }

            }



        }
        img{
            display: none;
        }

    }

    .desktop{
        display: none;
    }

    .section1{
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-top: 5vh;
        align-items: center;
        height: 160px;

        

        img{
            display: none;
        }

        .textmain{
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
            text-align: center
            ;

            h1{
                width: 80vw;
            }


        }
    }

    //Služby

    .sluzbydecor{
        display: none;
    }

    .sluzbydecor2{
        display: none;
    }

    .Sluzby-texty{
        display: flex;
        flex-direction: column;
        margin-top: 12vh;
        margin-bottom: 5vh;
        gap: 5vh;
    }




    .onas-item{
        width: 340px;
        height: fit-content;
        background-color: #1E1E1E;
        border-radius: 25px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 12vh;
        margin-bottom: 5vh;
        padding: 30px;
        #char{
            display: none;
        }
        .text-onas{
            text-align: center;
        }
        .nadpis{
            display: flex;
            justify-content: center;
            h1{
                font-size: 24px;
            }
        }        
    
    }






    .item{
        width: 340px;
        height: fit-content;
        background-color: #1E1E1E;
        border-radius: 25px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        

        #char{
            display: none;
        }

        .Sluzby-text{
            width: 90%;
            height: auto;
            gap: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5vh;
            margin-bottom: 5vh;

            .text-onas{
                text-align: center;
            }


            .nadpis{
                display: flex;
                justify-content: center;
                h1{
                    font-size: 24px;
                }
            }

            .container-texty{
                gap: 5vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80vw;
                padding: 30px;
                text-align: center;
                .Sluzby-podtext{
                    background-color: #111;
                    border-radius: 40px;
                    display: grid;
                    align-items: center;
                    justify-content: space-around;
                    gap: 2vh;
                    .podnadpis{
                        display: flex;
                        justify-content: center;
                        margin-top: 2vh;
                    }
                    .podtext-onas{
                        justify-self: center;
                        width: 85%;
                    }
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
                .Sluzby-podtext-dlouhy{
                    background-color: #111;
                    border-radius: 50px;
                    display: grid;
                    .podnadpis{
                        display: flex;
                        justify-content: center;
                        margin-top: 2vh;
                    }
                    .podtext-onas{
                        justify-self: center;
                        width: 85%;
                    }
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 10px;
                    }

                }
                

            }
            
        }



    
    }



    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        bottom: 0;
        

        .kontakt{
            text-align: center;
            margin-top: 5vh;
            gap: 0;

            

            .nadpis{

                h2{
                    font-size: 13px;
                }
            }
            
        }

        .footerlogo{
            gap: 2vh;
            margin-bottom: 2vh;
            
            .logonapis{
                display: flex;
                align-items: center;



                h1{
                    font-size: 16px;

                }

            }


            .text{

                p{
                    margin-top: 1.5vh;
                }
                
            }
        }

        
    }

    
}




    
@media screen and (min-width: 1000px){

    @font-face {
        font-family: normal;
        src: url(RobotoMono-VariableFont_wght.ttf)
    }
    .mobile{
        display: none;
    }

    .nadpis
    {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
    header{
        height: 12vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #1E1E1E;
        position: fixed;
        z-index: 3;
        top: 0;
    
        #first{
            height: 95px;
            width: 350px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 50px;
            
            div{
                display: flex;
                flex-direction: row;
            }
            

                #l{
                    color: #0066FE;
                }
            h1 {
                color: white;
        
        
            }
            #image{
                display: flex;
                justify-content: center;
                img{
                    width: 95px;
                }
            }
        }
    }



    #second-mobile{
        display: none;
    }

    #second{
        height: 95px;
        width: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 50px;
        font-family: normal;
    }

    .section1{
        min-height: 500px;
        height: 900px;
        color: white;

        
        .textmain
        {
            width: 500px;
            height: 280px;
            h1
            {
                font-size: 70px;
                width: 800px;
            }
            margin-top: 50vh;
            margin-left: 10%;
        }
        .decor
        {
            float: right;
            margin-top: -30vh;
        }
    }

    .section2{
        min-width: 900px;
        
        .texty
        {
            margin-top: 75vh;
        }
        .text1
        {
            display: flex;
            flex-direction: column;
            margin-top: -55vh;
            margin-bottom: 150vh;
            margin-left: 7.5vw;
            background-color: rgb(17, 17, 17, 0.9);
            width: 550px;
            height: 300px;
            padding: 30px;
            border-radius: 50px;
            .nadpis1
            {
                display: flex;
                flex-direction: row;
                #char
                {
                    color: #0066FE;
                }
            }
            .popis1
            {
                font-size: 30px;
                padding-left: 25px;
            }
        }
        .text2
        {
            display: flex;
            flex-direction: column;
            margin-top: -165vh;
            margin-right: 10vw;
            margin-left: 55vw;
            margin-bottom: 60vh;
            background-color: rgb(17, 17, 17, 0.9);
            width: 550px;
            height: 300px;
            padding: 30px;
            border-radius: 50px;
            .nadpis2
            {
                display: flex;
                flex-direction: row;
                #char
                {
                    color: #0066FE;
                }
            }
            .popis2
            {
                font-size: 30px;
                padding-left: 25px;
            }
        }
        .text3
        {
            color: white;
            display: flex;
            flex-direction: column;
            margin-top: -65vh;
            margin-bottom: 40vh;
            margin-left: 12.5vw;
            background-color: rgb(17, 17, 17, 0.9);
            width: 550px;
            height: 300px;
            padding: 30px;
            border-radius: 50px;
            .nadpis3
            {
                display: flex;
                flex-direction: row;
                #char
                {
                    color: #0066FE;
                }
            }
            .popis3
            {
                font-size: 30px;
                padding-left: 25px;
            }
        }
        .decor2
        {
            float: right;
            margin-top: -30vh;
        }
        .decor3
        {
            margin-top: -60vh;
            position: relative;
            z-index: -1;
        }
    }

    .kontakt2{
        a:link
        {
            text-decoration: none;
        }
        a:hover
        {
            color: #0066FE;
        }
        #char
        {
            color: #0066FE;
        }
        #char1{
            color: #0066FE;
        }
        .text{
            color: white;
            a:link
            {
                text-decoration: none;
            }
            
            
        }
        .spolu:hover {
            .text{
                color: #0066FE;
            }
            #char{
                color: white;
            }
        
        }
        
    }

    .spolu{
        display: flex;
        flex-direction: row;
        width: 450px;
    }

    

    div{
        font-family: normal;
    }
    .onasdecor{
        
        img{
            height: 400px;
            margin-bottom: -40vh;
            float: right;
            position: relative;
            z-index: -1;
        }

    }
    .onasdecor2{
        
        img{
            height: 400px;
            margin-top: -20vh;
            position: relative;
            z-index: -1;
        }
    }
    
.main-onas{
    height: auto;
    .Onas{
        height: 450px;
        background-color: rgb(17, 17, 17, 0.9);
        padding: 30px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 50px;
        z-index: 1;
        margin-left: 15%;
        margin-top: 12vh;
        margin-bottom: 10vh;

        p{
            font-size: 30px;


        }
        .nadpis{
            display: flex;
            flex-direction: row;
            margin-top: 12vh;
            h1{ 
                font-size: 70px;

            }
            #char
            {
                color: #0066FE;
            }
        }
        
        .text-onas{
            display: flex;
            justify-content: center;
            height: 365px;
            width: 100%;
        }
    }
}
    

    .kontaktdecor{
        img{
            height: 450px;
        }
    }
    .kontaktdecor2{
        z-index: -1;
        position: relative;
        float: right;
        img{
            height: 450px;
            float: right;
            position: relative;
            z-index: -1;
            margin-top: -40vh;
        }
    }
    .section3{
        height: 500px;
        background-color: #1E1E1E;
        margin-bottom: 50vh;
        .text1
        {
            display: flex;
            flex-direction: column;
            margin-left: 5vw;
            
            p{
                font-size: 20px;
            }

        }
        .hlavninadpis
        {
            justify-content: center;
            display: flex;
            padding-top: 2.5vh;
            h1{
                font-size: 40px;
            }
        }
        .nadpis1
        {
            display: flex;
            flex-direction: row;
            padding-top: 2.5vh;
            padding-left: 10px;
        }
        #char{
            color: #0066FE;
        }
        h1{
            font-size: 30px;
            color: white;
        }
    }

    .onas-item
    {
        background-color: rgb(17, 17, 17, 0.7);
        height: auto;
        width: 1100px;
        margin-left: 50%;
        margin-right: 50%;
        transform : translateX(-50%);
        padding: 50px;
        border-radius: 50px;
        .nadpis
        {
            h1{
                font-size: 70px;
                color: white;
            }
            
            #char
            {
                color: #0066FE;
            }
            margin-bottom: 50px;
        }
        .text-onas
        {
            font-size: 30px;
            color: white;
        }

    }
    
    .Sluzby-texty
    {
        display: flex;
        flex-direction: column;
        gap: 20vh;
        width: 1000px;
        margin-left: 50%;
        margin-right: 50%;
        transform : translateX(-50%);
        

        .item
        {   
            display: flex;
            //justify-content: center;
            background-color: rgb(17, 17, 17, 0.7);
            height: auto;
            width: 1100px;
            padding: 50px;
            border-radius: 50px;
            

            .container-texty
            {
                z-index: 1;
                display: flex;
                flex-direction: row;
                gap: 5vw;
                justify-self: center;
                

                .Sluzby-podtext
                {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    align-items: center;
                    height: auto;
                    background-color: #1E1E1E;
                    border-radius: 50px;

                    .podnadpis
                    {
                        color: white;
                        display: flex;
                        flex-direction: row;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        h1{
                            font-size: 30px;
                        }
                    }
                    #char
                    {
                        color: #0066FE;
                    }
                    .podtext-onas
                    {
                        color: white;
                        width: 400px;
                        padding-bottom: 20px;
                        margin: 20px;
                        p{
                            font-size: 15px;
                        }
                    }
                }
                .Sluzby-podtext-dlouhy
                {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    align-items: center;
                    width: 1000px;
                    height: auto;
                    background-color: #1E1E1E;
                    border-radius: 50px;
                    
                    .podnadpis
                    {
                        color: white;
                        display: flex;
                        flex-direction: row;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        h1{
                            font-size: 30px;
                        }
                    }
                    #char
                    {
                        color: #0066FE;
                    }
                    .podtext-onas
                    {
                        color: white;
                        width: auto;
                        padding: 20px;
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .Sluzby-text{
        display: flex;
        flex-direction: column;
        justify-self: center;
        color: white;
        gap: 10vh;
        z-index: 1;
        .nadpis{
            display: flex;
            flex-direction: row;
            justify-content: center;
            h1{ 
                font-size: 60px;
            }
            #char
            {
                color: #0066FE;
            }
        }
        .podnadpis{
            display: flex;
            flex-direction: row;
            gap: 20px;
            h1{ 
                font-size: 35px;

            }
            #char
            {
                color: #0066FE;
            }
        }
        .podtext-onas{
            
            width: 1000px;
            text-align: center;
            p{
                font-size: 12.5px;
            }
        }
        .text-onas{
            margin-left: 40px;
            height: auto;
            width: 1000px;
            margin: 5px;
            text-align: center;
            p{
                font-size: 20px;
            }
        }
    }
    .kontakt1{
        
        height: 600px;
        width: 850px;
        padding: 50px;
        display: flex;
        background-color: rgb(17, 17, 17, 0.9);
        border-radius: 50px;
        flex-direction: column;
        margin-left: 50%;
        margin-right: 50%;
        color: white;
        gap: 50px;
        z-index: 1;
        margin-top: -25vh;
        margin-bottom: 20vh;
        
        p{
            font-size: 30px;
        

        }
        .nadpis{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            
            h1{ 
                font-size: 70px;
        
            }
            #char
            {
                color: #0066FE;
            }
        }
        .formular{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 80px);
        gap: 30px;

        input::placeholder{
            color: white;
            opacity: 1;
            text-align: center;
            font-size: 32px;
            
        }
        textarea::placeholder{
            color: white;
            opacity: 1;
            font-size: 32px;
            padding-left: 15px;
        }

        input{
            height: 100%;
            width: 100%;
            border-radius: 15px;
            background-color: #1E1E1E;
            border: none;
            color: white;
            font-size: 32px;
        
        }
        textarea{
            height: 100%;
            width: 100%;
            resize: none;
            border-radius: 15px;
            background-color: #1E1E1E;
            border: none;
            color: white;
        }
        
        #C{
            grid-column: 1 / 3;
            grid-row: 2 / 4;
            
        }

        #D{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            display: grid;
            justify-content: end;
        }

        button{
            height: 75px;
            width: 205px;
            border-radius: 15px;
            background-color: #0267FF;
            color: white;
            border: none;
            font-size: 25px;

            

        }
    }
    }
    .sluzbydecor2
    {
        img{
            margin-top: -20vh;
            width: 450px;
        }
    }
    .sluzbydecor
    {
        img{
            width: 450px;
            float: right;
            margin-bottom: -25vh;
        }
    }

    footer{
        height: auto;
        .nadpis{
            margin-top: 5vh;
            h2
            {
                font-size: 35px;
                opacity: 0.3;
            }
        }
        .info
        {
            p
            {
                font-size: 20px;
                opacity: 0.3;
            }
        }
        .kontakt
        {
            display: flex;
            flex-direction: column;
            gap: 1vh;
            padding-left: 5em;
            
        }
        .footerlogo
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1vw;
            margin-top: -5vh;
            .logonapis
            {
                opacity: 0.3;
                display: flex;
                flex-direction: row;
                #l
                {
                    color: #0066FE;
                }
            }
            .text
            {
                opacity: 0.3;
                padding-top: 15px;
            }
        }
    }
}